<div class="video">
    <%= video_tag("/videos/spark.mp4", autoplay: :true, muted: :true, loop: :true, class: 'video-content') %>
</div>

<div class="text">
 <p>Hal Tanaka&nbsp;</p>
 <p>Official</p>
</div>

<div class="top"><br><br><br><br>
  <p class="name">Hal Tanaka</p><br><br>
  <p class="name">Engineer</p><br><br>
  <p class="name">Age 28</p><br><br>
  <p class="name">From Osaka</p><br><br>
</div>
